.container-repos {
  background: #292929;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  position: relative;
}

@media (max-width: 959px) {
  .container-repos {
    height: 100%;
  }
}

.header-repos {
  width: 960px;
  height: 70px;
  background: #1f1f1f;
  margin: 0 auto;
  display: flex;
  border-left: 1px solid #535353;
  border-right: 1px solid #535353;
}

@media (max-width: 959px) {
  .header-repos {
    width: 300px;
  }
}

.back {
  align-self: center;
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.header-repos h1 {
  text-align: center;
  flex: 1;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
}

.list-repos-item {
  width: 960px;
  margin: 0 auto;
  min-height: 110px;
  border-bottom: 1px solid #535353;
  border-left: 1px solid #535353;
  border-right: 1px solid #535353;
  position: relative;
}

@media (max-width: 959px) {
  .list-repos-item {
    width: 300px;
  }
}

.repos-about h1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.repos-about h1::before {
  content: "";
  display: inline-block;
  height: 42px;
  width: 10px;
  position: absolute;
  top: 20px;
  left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ffce00;
}

.repos-about p {
    font-size: 15px;
    font-weight: lighter;
    line-height: 24px;
    margin-left: 20px;
    max-width: 800px;
    margin-bottom: 10px;
}

.repos-info {
    display: flex;
    justify-content: space-between;
}

.stars {
    margin-left: 20px;
    margin-bottom: 10px;
}

.star-icon {
   color: #FFCE00;
   margin-right: 5px;
  
}

.repos-info .status {
    margin-right: 30px;
}
